[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false
name = "pypi"

[packages]
e1839a8 = {path = ".",editable = true}

[dev-packages]
"flake8" = "*"
twine = "*"
wheel = "*"
coverage = "*"
"flake8-docstrings" = "*"
mkdocs = "*"
mkdocs-material = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
